@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");

/* Eliminar los spinners en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Eliminar los spinners en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


	body {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box !important;
		font-family: Arial, sans-serif;
		background: linear-gradient(to bottom right, #fff, #3498db) !important;
		height: auto;
		align-items: center;
		justify-content: center;
		padding: auto !important;
		margin: 0 !important;
	}

	a {
        text-decoration: none !important; /* Quitar el subrayado de todos los enlaces */
    }

	header {
		height: 10px !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px !important;
		background-color: #1155e9 !important;
		color: #fff;
		position: relative !important;
		margin: 0 !important;
	}


	/* <!-- opciones de estilos a eleccion del owner del Ecommerce --> */

	.blueMarket {
		background: linear-gradient(to bottom right, #ffffff, #0072bb) !important;
		border: 0.11rem solid white; /* Borde blanco de 1rem de grosor */
	}
	.greenMarket {
		background: linear-gradient(to bottom right, #fff, #34db53) !important;
		border: 0.11rem solid white; /* Borde blanco de 1rem de grosor */
	}

	.blackMarket {
		background: linear-gradient(to bottom right, #383737, #0f0f0f) !important;
		border: 0.11rem solid white !important;
		color: white !important;
	}
	
	.silverMarket {
		background: linear-gradient(to bottom right, #c0c0c0, #000000) !important;
		border: 0.1rem solid white; /* Borde blanco de 1rem de grosor */

	}
	.goldMarket {
		background: linear-gradient(to bottom right, #ffd700, #584b00) !important;
		border: 0.1rem solid white; /* Borde blanco de 1rem de grosor */
	}
	.redMarket {
		background: linear-gradient(to bottom right, #ffffff, #ff0000) !important;
		border: 0.1rem solid white; /* Borde blanco de 1rem de grosor */
	}
	.elegance {
		background: linear-gradient(to bottom right, #f2f2bb, #653512) !important;
		border: 0.1rem solid white; /* Borde blanco de 1rem de grosor */
	}
	.coffe {
		background: linear-gradient(to bottom right, #f2f2bb, #653512) !important;
		border: 0.1rem solid white; /* Borde blanco de 0.1rem de grosor */
	}
	.pearl {
		background: linear-gradient(to bottom right, #f2f2ef, #ff69b4) !important;
		border: 0.15rem solid white; /* Borde blanco de 0.1rem de grosor */
	}
	.coral {
		background: linear-gradient(to bottom right, #f2f2ef, coral) !important;
		border: 0.15rem solid white; /* Borde blanco de 0.15rem de grosor */
	}
	
	.silver {
		background: linear-gradient(to bottom right, darkgray, rgb(96, 95, 95)) !important;
		border: 0.15rem solid white; /* Borde blanco de 0.15rem de grosor */
	}
	
	
	.cobre {
		background: linear-gradient(to bottom right, lightcoral, coral) !important;
		border: 0.15rem solid white; /* Borde blanco de 0.15rem de grosor */
	}
	
	.white {
		background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(220, 214, 212)) !important;
		border: 0.15rem solid white; /* Borde blanco de 0.15rem de grosor */
		color: black !important;
	}


	#productosEncontrados {
		position: absolute;
		top: 100%; /* Coloca el select debajo del input */
		display: none; /* Oculta el select por defecto */
	}

	.fijoArriba2 {
		background-color: #3498db;
		color: white;
		padding: 10px;
		display: none;
		align-items: center;
		justify-content: space-between;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		width: 100%;
		height: 70px !important;
		z-index: 1000;
		border-radius: 0px;
	}
	#floatingInput {
		width: 25%;
		border-radius: 5px; /* Puntas redondeadas */
	}

	#logo {
		width: 5%;
		border-radius: 50%; /* Puntas redondeadas */
		margin: 0; /* Elimina el margen predeterminado */
	}
	.fas {
		margin-right: 1rem;
		cursor: pointer;
		font-size: 1.2rem;
		margin:0 1rem !important
	}
	#menuLogos {
		margin-left: auto; /* Empuja el div a la derecha */
	}

	.search-bar {
		flex-grow: 1;
		margin: 0 15px !important;
		color: white !important;
	}



/*MENU*/


	.menu-button {
		font-size: 24px;
		cursor: pointer;
		margin-right: 2rem;
		color: white !important;
	}

	.side-menu {
		position: fixed;
		top: 0;
		font-size: 0.5rem !important;
		right: -260px; /* Cambiado de "left" a "right" */
		width: 260px;
		height: 100%;
		background: linear-gradient(to bottom right, #1155e9, #adc4fb );
		padding-top: 60px;
		transition: right 0.3s ease-in-out;
		overflow-y: auto;
	}


.close-menu {
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 10px;
}

.links a {
	font-size: 1.3rem;
	line-height: 0.5rem !important;
	font-weight: 500 !important;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white !important;
	transition: color 0.8s, font-size 0.8s;
	overflow: hidden !important;
	margin: 1.2rem 1.2rem auto -2rem;
	/* border-bottom: 0.1rem solid blue !important;  Cambiado de "black" a "blue" y agregado "solid" */
}


.links a:hover {
	color: lightgreen !important;
	font-size: 1.5rem;
}

.links a.active,
.links a.target {
    color: orange;
    font-size: 1.1rem;
    color: white !important; /* Este estilo está sobrescribiendo el anterior, lo que puede no ser lo que deseas */
}


#botonaso {
	background: transparent !important;
	color: white !important;
	font-size: 1.3rem !important;
	font-weight: 500;
	text-align: left;
	transition: color 0.8s, font-size 0.5s;
	margin: 0.81rem auto 0.5rem -0.51rem  !important;
	/* border-bottom: 0.1rem solid blue !important;  /* Cambiado de "black" a "blue" y agregado "solid" */
}

#botonaso:hover {
	color: lightgreen !important;
	font-size: 1.5rem !important;
	transition: color 0.8s, font-size 0.8s;
}

#accordionFlushExample .botonaso.active,
#accordionFlushExample .botonaso:focus {
    color: orange;
    font-size: 1.1rem;
    color: white !important; /* Este estilo está sobrescribiendo el anterior, lo que puede no ser lo que deseas */
}

.fijoAbajo {
	position: sticky;
	bottom: 0.3em;
	margin: 0;
	width: auto;
	height: fit-content;
	padding: 0.2rem 2rem;
	z-index: 999999999999999 !important;
}

#idProp:hover {
	color: lightgreen !important;
	font-size: 1.1rem !important;
}


	.side-menu ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	.side-menu li {
		padding: 15px;
		text-align: left;
	}

	.side-menu a {
		color: #fff;
		text-decoration: none;
		font-size: 18px;
	}

	.close-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	}

	#one {
		margin: 0 !important;
		padding: auto !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.cardV {
		width: 30% !important;
		display: inline-flex !important;
		background-color: transparent !important;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
		transition: transform 0.3s ease-in-out;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	
	/* Estilo para pantallas más estrechas */
	@media (max-width: 950px) {
		.cardV {
			width: 200% !important; /* Se fuerza el ancho al 200% */
			display: flex !important; /* Se asegura que el display sea flex */
		}

	}
	
	

	.cardV:hover {
		transform: scale(1.015);
	}

	.cardV img {
		width: 100%;
		border-radius: 8px;
		margin: auto !important; /* Centrar verticalmente */
		display: block;
		transition: transform 0.3s ease-in-out;
	}

	.cardV img:hover {
		transform: scale(1.800) !important;		
	}


						/* Estilo de las tarjetas */
						.cardH {
							width: 550px !important; /* Ancho por defecto */
							display: inline-flex !important; /* Permite que las tarjetas se alineen horizontalmente */
							border: 1px solid #ddd; /* Borde tipo card */
							border-radius: 8px;
							background-color: transparent;
							box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
							transition: transform 0.3s, box-shadow 0.3s;
							justify-content: center; /* Alinea el contenido de la tarjeta en el centro */
							box-sizing: border-box; /* Incluye el padding y borde en el tamaño total del elemento */
						}
						
						.cardH > * {
							margin: 0; /* Elimina el margen de todos los elementos hijos */
							padding: 0; /* Elimina el padding de todos los elementos hijos */
							flex-shrink: 0; /* Evita que los hijos se reduzcan en tamaño */
						}
						
						@media (max-width: 900px) {
							.cardH,
							.cardV {
								width: 90% !important; /* Ajusta el ancho al 90% en pantallas pequeñas */
								flex-direction: column; /* Cambia la dirección de flex a columna */
							}
						}
						
						@media (max-width: 800px) {
							.cardH,
							.cardV {
								width: 90% !important; /* Ajusta el ancho al 90% en pantallas de hasta 800px */
								flex-direction: column; /* Cambia la dirección de flex a columna */
							}

						}
						
						@media (max-width: 700px) {
							.cardH,
							.cardV {
								width: 90% !important; /* Ajusta el ancho al 90% en pantallas de hasta 700px */
								flex-direction: column; /* Cambia la dirección de flex a columna */
							}
						}
						
						@media (max-width: 600px) {
							.cardH,
							.cardV {
								width: 90% !important; /* Ajusta el ancho al 90% en pantallas de hasta 600px */
								flex-direction: column; /* Cambia la dirección de flex a columna */
							}
						}
						
						

	
.cardH:hover {
	transform: scale(1.02);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardH-image {
	border-radius: 2rem;
	margin: 1px !important;
	padding: 1px!important;
	height: 280px !important;
	width: 300px !important;
	flex: 1;
	order: 1; /* Imagen a la izquierda */
	display: flex;
	align-items: center;
	justify-content: center;
}



	.details {
		padding: 5px;
		margin: 8px;
		line-height:0.2rem !important;
		/* border: 0.1rem solid rgb(14, 42, 229) !important; */
	}

	.add-to-cart {
		background-color: #00aaff;
		color: #ffffff !important;
		border: 0.1rem solid rgb(4, 64, 22) !important;
		padding: 4px !important;
		margin: 2px auto !important;
		height: min-content;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s ease;
		align-items: center !important;
		justify-content: center !important; /* Centrar horizontalmente el contenido del botón */
	}
	
	.add-to-cart:hover {
		align-items: center;
		background-color: #73ea34;
		transform: scale(1.051);
	}
	
	.add-to-cart:active {
		align-items: center;
		background-color: #d26720;
		transform: scale(0.95);
	}
	

	.add-to-cart img {
		margin-left: 2px !important;;
	}

	.product-description-container {
		align-items: flex-start !important; /* Utiliza flex-start para alinear el contenido a la izquierda */
		height: 150px !important;
		width: 100% !important;
		overflow-y: auto; /* Añade scroll vertical si el contenido supera la altura máxima */
		overflow-x: none !important; /* Añade scroll vertical si el contenido supera la altura máxima */
		margin: 10px; /* Espacio inferior para separar el contenido del botón */
		text-align: left; /* Alinea el texto a la izquierda */
		line-height: 1rem;
		padding:auto;
		margin: auto;
	}
	

	.fijoArriba {
		position: sticky !important;
		top: 0;
		margin: 0;
		width: 100%;
		height: 50%;
		padding: 0rem ;
		z-index: 999 !important;
	}

				/* Estilos adicionales para resaltar el mensaje */
				#mensajeEnvio {
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					background-color: #4CAF50; /* Color verde */
					color: white;
					padding: 15px;
					text-align: center;
					z-index: 1000; /* Asegura que aparezca por encima de otros elementos */
					display: none; /* Inicialmente oculto */
					font-size: 16px;
				}

				#cerrarMensaje {
					position: absolute;
					top: 5px;
					right: 10px;
					cursor: pointer;
					font-size: 20px;
				}


	
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			box-sizing: border-box;
		}
	
